[project]
name = "fusiontimeseries"
version = "0.1.0"
description = "Time series prediction of heat flux time traces in Tokamak reactors."
readme = "README.md"
requires-python = ">=3.13"
dependencies = []
